            * {
                box-sizing: border-box;
            }
            
            input[type=text],
            select,
            textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
            }
            
            input[type=submit] {
                background-color: #089cf1;
                color: white;
                padding: 12px 20px;
                border: none;
                cursor: pointer;
            }
            
            input[type=submit]:hover {
                background-color: #4c0bfd;
            }
            
            .container {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 10px;
            }
            
            .column {
                float: left;
                width: 50%;
                margin-top: 6px;
                padding: 20px;
            }
            
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            
            @media screen and (max-width: 600px) {
                .column,
                input[type=submit] {
                    width: 100%;
                    margin-top: 0;
                }
            }
            
            .contactinfo {
                background-color: rgb(80, 93, 102);
            }
            
            .symbol-input {
                font-size: 15px;
                display: flex;
                align-items: center;
                position: absolute;
                border-radius: 25px;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-left: 35px;
                pointer-events: none;
                color: #666666;
            }
            
            .fa,
            .fab {
                color: white;
                margin: 5px;
            }
            
            .fa:hover {
                color: rgb(13, 13, 14);
            }
            
            .contactus {
                text-align: center;
                color: rgb(255, 255, 255);
            }